## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data stored and accessed electronically. It is designed to efficiently manage, store, and retrieve large amounts of data. Databases are widely used in various fields such as business, finance, healthcare, education, and more.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of database management systems with different architectures and data models.

SQL databases are relational databases that use tables to store data. Each table contains columns that define the attributes of the data, and each row represents a single record. SQL databases use a schema to define the structure of the database and enforce data integrity. SQL databases are widely used in enterprise applications and have a well-defined standard for querying and managing data.

NoSQL databases, on the other hand, do not use tables to store data. They use different data models, such as document-based, key-value, or graph-based. NoSQL databases are designed to be horizontally scalable and provide high performance for large-scale data storage and retrieval. They do not have a schema, allowing for greater flexibility in storing and querying data.

Here are some key differences between SQL and NoSQL databases:

1. Data Model: SQL databases use a relational data model with tables, rows, and columns, while NoSQL databases use various non-relational data models such as document-based, key-value, graph-based, and more.

2. Schema: SQL databases have a well-defined schema to enforce data integrity, while NoSQL databases are schema-less, allowing for more flexibility in storing and querying data.

3. Scalability: NoSQL databases are designed to be horizontally scalable, while SQL databases are vertically scalable.

4. Query Language: SQL databases use SQL as the standard query language, while NoSQL databases use various query languages specific to their data model.

5. Performance: NoSQL databases are optimized for performance and can handle large-scale data storage and retrieval, while SQL databases are better suited for complex queries and transactional processing.

Overall, the choice between SQL and NoSQL databases depends on the specific requirements of the application and the nature of the data being stored.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans) DDL stands for Data Definition Language. It is a set of SQL commands used to define the database schema or structure. The four main DDL commands are:

1. CREATE: Used to create a new database, table, view, or index. For example
	
    CREATE TABLE Customers (
    CustomerID int NOT NULL,
    FirstName varchar(255),
    LastName varchar(255),
    Email varchar(255),
    PRIMARY KEY (CustomerID));

2. DROP: Used to delete an entire database, table, view, or index. For example
	DROP TABLE Customers;
3. ALTER: Used to modify the structure of an existing table or view. For example, adding a new column to a table:
	ALTER TABLE Customers ADD COLUMN Age int;
4. TRUNCATE: Used to delete all data from a table without deleting the table itself. For example
	TRUNCATE TABLE Customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans)   DML stands for Data Manipulation Language. It is a set of SQL commands used to manipulate data stored in the database. The three main DML commands are:

1. INSERT: Used to insert new data into a table. For example:

	INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
	VALUES (1, 'John', 'Doe', 'john.doe@example.com');

2. UPDATE: Used to modify existing data in a table. For example:
	UPDATE Customers
	SET Email = 'jane.doe@example.com'
	WHERE CustomerID = 2;

3. DELETE: Used to delete data from a table. For example:
	DELETE FROM Customers
	WHERE CustomerID = 3;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a set of SQL commands used to query data from the database. The main DQL command is
SELECT: Used to retrieve data from one or more tables. For example:
        
        SELECT FirstName, LastName, Email
         FROM Customers
         WHERE Age > 18;

## Q5. Explain Primary Key and Foreign Key.

 Ans) Primary key is a column or a set of columns in a table that uniquely identifies each row in the table. A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between the two tables. For example:
 
    CREATE TABLE Orders (
    OrderID int NOT NULL,
    CustomerID int NOT NULL,
    OrderDate date,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

create connection
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="mydatabase"
)


mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM Customers")


results = mycursor.fetchall()


for result in results:
	
    print(result)


The cursor() method creates a cursor object which is used to execute SQL statements and fetch results. The execute() method is used to execute an SQL statement. In this example, we are executing a SELECT statement to fetch all rows from the Customers table.

## Q7. Give the order of execution of SQL clauses in an SQL query.

Ans) The order of execution of SQL clauses in an SQL query is:
1. SELECT
2. FROM
3. WHERE