## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

## A)Panada Series is like a column in a table, it is a one dimensional array holding of any type

In [1]:
import pandas as pd
l=[4,8,15,16,23,42]
series=pd.Series(l)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd
a=[1,8,5,5,45,86,2,47,9,20]
se=pd.Series(a)
print(se)

0     1
1     8
2     5
3     5
4    45
5    86
6     2
7    47
8     9
9    20
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
## Name    Age Gender
## Alice   25   Female
## Bob     30   Male
## Claire  27   Female
## print it

In [13]:
import pandas as pd
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index.
## A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.

In [16]:
import pandas as pd
l=[4,8,15,16,23,42]
series=pd.Series(l)
print("This is pandas series")
print(series)
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print()
print("This is pandas data frame:")
print(df)

This is pandas series
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

This is pandas data frame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
## you give an example of when you might use one of these functions?

## A)There are many functions available in Pandas that can be used to manipulate data in a DataFrame. Some common functions include:

## head() and tail(): These functions can be used to display the first or last few rows of a DataFrame respectively. For example, you might use df.head() to quickly check the first few rows of a DataFrame to see what kind of data it contains.

In [7]:
import pandas as pd
df=pd.read_csv('services.csv')
print(df.head(3))
print()
print(df.tail(3))

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...

  languages                              name required_documents  \
0       NaN   Fair Oaks Adult Activity Center                NaN
1       NaN  Second Career Employment Program                NaN
2       NaN            Senior Peer Counseling                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN

[3 rows x 22 columns]

    id  location_id  program_id         accepted_payments  \
20  21           21         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
22  23           22         NaN                       NaN

           alternate_name                application_process  \
20                    NaN    By phone during business hours.
21  Fotos para pasaportes  Walk in or apply by phone or mail
22                    NaN  Walk in or apply by phone or mail

                                             audience  \
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description eligibility  \
20                                just a test service         NaN
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...        None
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...        None

                    email  ...  \
20                    NaN  ...
21  passports@example.org  ...
22                    NaN  ...

                              interpretation_services  \
20                                                NaN
21  We offer 3-way interpretation services over th...
22                                                NaN

                                      keywords languages  \
20                                         NaN       NaN
21                             Salud, Medicina   Spanish
22  Ruby on Rails/Postgres/Redis, testing, wic       NaN

                               name                        required_documents  \
20  Service for Admin Test Location                                       NaN
21                  Passport Photos  Government-issued picture identification
22             Example Service Name                                       NaN

                       service_areas    status            wait_time  \
20                  San Mateo County  inactive                  NaN
21  Alameda County, San Mateo County    active  No wait to 2 weeks.
22  San Mateo County, Alameda County    active   No wait to 2 weeks

                   website                              taxonomy_ids
20                     NaN                                       NaN
21  http://www.example.com  105, 108, 108-05, 108-05-01, 111, 111-05
22  http://www.example.com                                       NaN

[3 rows x 22 columns]

## Q6)Which of the following is mutable in nature Series, DataFrame, Panel?

## A)Both Series and DataFrame are mutable in nature, meaning that their contents can be changed after they are created.On the other hand, Panel is deprecated since version 0.25.0, and it's not recommended to use it anymore. In any case, Panel is also mutable, as it is built on top of the DataFrame object.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

## A)To create a DataFrame using multiple Series in Pandas, we can first create the individual Series objects, and then pass them as arguments to the pd.DataFrame() constructor.

In [8]:
import pandas as pd

# Create three Series objects
name = pd.Series(['John', 'Jane', 'Bob'])
age = pd.Series([25, 30, 35])
salary = pd.Series([50000, 60000, 70000])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Name': name, 'Age': age, 'Salary': salary})

# Display the resulting DataFrame
print(df)

   Name  Age  Salary
0  John   25   50000
1  Jane   30   60000
2   Bob   35   70000